@tailwind base;
@tailwind components;
@tailwind utilities;

span {
  font-family: var(--font-inter);
  color: palegreen;
}

h1 {
  text-decoration: underline;
}

h2 {
  font-family: var(--font-play);
}

nav {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
